* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Philosopher', sans-serif;
  font-size: 1em;
  background-color: #e0e0e0;
  line-height: 1.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card {
  position: absolute;
  top: 10%;
  width: 25em;
  background-color: #f7f7f7;
  -webkit-transition: -webkit-box-shadow 0.8s;
  transition: -webkit-box-shadow 0.8s;
  transition: box-shadow 0.8s;
  transition: box-shadow 0.8s, -webkit-box-shadow 0.8s;
}

.card .card-img {
  overflow: hidden;
  height: 35vh;
}

.card .card-img img {
  width: 100%;
  -webkit-transition: opacity 0.8s, -webkit-filter 0.8s, -webkit-transform 0.8s;
  transition: opacity 0.8s, -webkit-filter 0.8s, -webkit-transform 0.8s;
  transition: filter 0.8s, opacity 0.8s, transform 0.8s;
  transition: filter 0.8s, opacity 0.8s, transform 0.8s, -webkit-filter 0.8s, -webkit-transform 0.8s;
}

.card-date {
  position: absolute;
  top: 1em;
  right: 1em;
  background-color: #a72016;
  width: 3.3em;
  height: 3.3em;
  border-radius: 50%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card-date p {
  color: white;
  font-size: 0.9em;
}

.card-content {
  position: relative;
  color: #949494;
  background-color: #f7f7f7;
  -webkit-transition: -webkit-transform 0.7s;
  transition: -webkit-transform 0.7s;
  transition: transform 0.7s;
  transition: transform 0.7s, -webkit-transform 0.7s;
}

.card-content .card-tag {
  position: absolute;
  top: -4vh;
  color: white;
  background-color: #a72016;
  padding: 0.5em 1em;
}

.card-content .card-article {
  padding: 4vh 3vw 0 3vw;
  text-align: justify;
  overflow: hidden;
  height: 16vh;
}

.card-content .card-article h1 {
  font-family: 'Tangerine', cursive;
  font-size: 2.8em;
  color: #333333;
  font-weight: lighter;
  padding: 2vh 0 2vh 0;
}

.card-content .card-article h2 {
  font-size: 1.6em;
  padding: 1vh 0 3vh 0;
  color: #a72016;
  font-weight: lighter;
}

.card-foot {
  padding: 3vh 3vw 4vh 3vw;
  color: #b8b8b8;
  background-color: #f7f7f7;
}

.card-foot .fa-comments {
  padding-left: 1.5em;
}

/*Animation*/
.card:hover {
  -webkit-box-shadow: 0 0 8px 1px #949494;
          box-shadow: 0 0 8px 1px #949494;
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

.card:hover .card-img img {
  -webkit-filter: brightness(110%) contrast(125%);
          filter: brightness(110%) contrast(125%);
  opacity: 0.75;
  -webkit-transform: scale(1.8, 1.8) translate(-0.8vw, 0.4vh);
          transform: scale(1.8, 1.8) translate(-0.8vw, 0.4vh);
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

.card:hover .card-content {
  -webkit-transform: translatey(-10vh);
          transform: translatey(-10vh);
}

.card:hover .card-content .card-article {
  overflow: visible;
}
/*# sourceMappingURL=style.css.map */